<div id="table">
  <table>
    <thead>
      <tr>
        <th width="200">Users</th>
        <th width="150">Events Attended</th>
        <th width="150">Events RSVP</th>
        <th width="150">Events Absent</th>
        <th width="150">Events No-Show</th>
      </tr>
    </thead>
    <tbody>
      <% names.each do |name| %>
        <tr id="t-row">
          <td><%= link_to name, "#" %></td>
          <td>Content</td>
          <td>content goes here too</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
