<div id="dash">
  <h3>Attendance Dashboard</h3>
  <div id="table">
    <table>
      <thead>
        <tr>
          <th width="200">Users</th>
          <th width="150">Events Attended</th>
          <th width="150">Events RSVP</th>
          <th width="150">Events Absent</th>
          <th width="150">Events No-Show</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
