<div class="right">
  <%= image_tag "http://photos3.meetupstatic.com/photos/member/d/b/c/6/thumb_144476262.jpeg", class: "th"%>
</div>
<div id="dash">
  <h3>Attendance Dashboard</h3>
  <div id="table">
    <table>
      <thead>
        <tr>
          <th width="200">Users</th>
          <th width="150">Events Attended</th>
          <th width="150">Events RSVP</th>
          <th width="150">Events Absent</th>
          <th width="150">Events No-Show</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |m| %>
          <tr id="t-row">
            <td><%= link_to m["name"], "#" %></td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
